section * {
  box-sizing: border-box;
}
h3 {
  margin: 0;
  font-weight: 400;
  padding: 0 20px;
}
tab-list {
  padding: 20px;
}

.parent {
  width: 100%;
  height: 500px;
  background-color: gainsboro;
}

.tool {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: azure;
  padding-left: 20px;
}

.case {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid green;
  border-radius: 10px;
  text-align: center;
}

.tool .case {
  background-color: yellow;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #90CBD0;
  border: 1px solid goldenrod;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(58,135,255,0.20);
}

.container .case {
  cursor: pointer;
}

.special {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgba(83, 84, 90, 0.57);
  opacity: 0.8;
}

.custom-fullscreen {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
}

.post-credits-scene {
  position: relative;
}
.post-credits-scene::after {
  content: '来自按钮的内心独白：我就是一个可怜的小物料，哭唧唧⚡︎';
  position: absolute;
  left: -110px;
  bottom: -20px;
  width: 320px;
  height: 20px;
  line-height: 20px;
  color: gray;
  font-size: 10px;
  transform: scale(0.2);
  opacity: 0.2;
  pointer-events: none;
}
.panel.custom-fullscreen .post-credits-scene::after {
  transform: scale(0.5);
}